Repository rajaskakodkar/tanzu-test-infra: changes, and which Prow jobs are due for each by the changed paths.
All: post-image-builder, post-test-image, pull-tanzu-test-infra-prow-checkconfig

config/jobs/tanzu-test-infra/postsubmits.yaml:

postsubmits:
  rajaskakodkar/tanzu-test-infra:
  - name: post-image-builder
    cluster: test-jobs
    decorate: true
    max_concurrency: 1
    branches:
    - ^main$
    run_if_changed: '^images/image-build*'
    annotations:
      testgrid-dashboards: build-images
      testgrid-tab-name: image-builder
    labels:
      preset-registry-credentials: "true"
      preset-dind-enabled: "true"
      preset-aws-credentials: "true"
    spec:
      containers:
      - image: public.ecr.aws/t0q8k6g2/vagator/image-builder:v20220803-dccc121
        command:
        - /usr/local/bin/run.sh
        args:
        - images/image-builder
        - public.ecr.aws/t0q8k6g2/vagator/image-builder
        securityContext:
          privileged: true
  - name: post-test-image
    cluster: test-jobs
    decorate: true
    max_concurrency: 1
    branches:
    - ^main$
    run_if_changed: '^images/test-image*'
    annotations:
      testgrid-dashboards: build-images
      testgrid-tab-name: test-image
    labels:
      preset-registry-credentials: "true"
      preset-dind-enabled: "true"
      preset-aws-credentials: "true"
    spec:
      containers:
      - image: public.ecr.aws/t0q8k6g2/vagator/image-builder:v20220803-dccc121
        command:
        - /usr/local/bin/run.sh
        args:
        - images/test-image
        - public.ecr.aws/t0q8k6g2/vagator/test-image
        securityContext:
          privileged: true

config/jobs/tanzu-test-infra/presubmits.yaml:

presubmits:
  rajaskakodkar/tanzu-test-infra:
  - name: pull-tanzu-test-infra-prow-checkconfig
    decorate: true
    run_if_changed: '^(config/prow/(config|plugins).yaml$|config/jobs/.*.yaml$)'
    spec:
      containers:
      - image: gcr.io/k8s-prow/checkconfig:v20211216-b5865074c4
        command:
        - /checkconfig
        args:
        - --config-path=config/prow/config.yaml
        - --job-config-path=config/jobs
        - --plugin-config=config/prow/plugins.yaml
        - --strict
        - --warnings=mismatched-tide-lenient
        - --warnings=tide-strict-branch
        - --warnings=needs-ok-to-test
        - --warnings=validate-owners
        - --warnings=missing-trigger
        - --warnings=validate-urls
        - --warnings=unknown-fields
        - --warnings=duplicate-job-refs

Added changes
  images/test-image/run.sh
Due: post-test-image

Testing the periodic job
  config/jobs/tce/periodics.yaml
Due: pull-tanzu-test-infra-prow-checkconfig

Updated the new test-image Tag
  config/jobs/tce/periodics.yaml
Due: pull-tanzu-test-infra-prow-checkconfig

Removed the testing docker periodic job
  config/jobs/tce/periodics.yaml
Due: pull-tanzu-test-infra-prow-checkconfig

migrate to s3 bucket for logs
  config/prow/components.yaml
  config/prow/config.yaml
Due: pull-tanzu-test-infra-prow-checkconfig

add AndyTauber to OWNERS
  OWNERS
Due: none

Cleanup: Drop gcs-references
  config/prow/config.yaml
Due: pull-tanzu-test-infra-prow-checkconfig

Add s3-credentials to deck
  config/prow/components.yaml
Due: none

s/s3-credentials.json/service-account.json
  config/prow/components.yaml
Due: none

Add S3 console URL to gcs_browser_prefix
  config/prow/config.yaml
Due: pull-tanzu-test-infra-prow-checkconfig

add periodic job for mirroring upstream imaeges to ecr
  config/jobs/mirror-images/periodics.yaml
Due: pull-tanzu-test-infra-prow-checkconfig

add skopeo binary to the docker image
  images/test-image/Dockerfile
Due: post-test-image

remove unused boskos.py script
  images/test-image/boskos.py
Due: post-test-image

add scripts for mirroring images
  config/jobs/mirror-images/periodics-mirror-images.yaml
  scripts/mirror-images/source-images.yaml
  scripts/mirror-images/sync-upstream-images-with-ecr.sh
Due: pull-tanzu-test-infra-prow-checkconfig

Reflect changes post s3 migration and prow.tanzu.io migration
  config/jobs/build-images/build.yaml
  config/jobs/tanzu-test-infra/postsubmits.yaml
  config/jobs/tce/periodics.yaml
  config/testgrid/config.yaml
  config/testgrid/default.yaml
Due: pull-tanzu-test-infra-prow-checkconfig

Revert "Add S3 console URL to gcs_browser_prefix"
  config/prow/config.yaml
Due: pull-tanzu-test-infra-prow-checkconfig

Revert "s/s3-credentials.json/service-account.json"
  config/prow/components.yaml
Due: none

Revert "Add s3-credentials to deck"
  config/prow/components.yaml
Due: none

Revert "migrate to s3 bucket for logs"
  config/prow/components.yaml
  config/prow/config.yaml
Due: pull-tanzu-test-infra-prow-checkconfig

Update testgrid config; update job config; drop unused/duplicate jobs
  config/jobs/build-images/build.yaml
  config/jobs/tanzu-test-infra/postsubmits.yaml
  config/jobs/tce/periodics.yaml
  config/prow/config.yaml
  config/testgrid/config.yaml
  config/testgrid/default.yaml
Due: pull-tanzu-test-infra-prow-checkconfig

Added Amazon ECR Credential Helper
  images/image-builder/Dockerfile
  images/image-builder/run.sh
Due: post-image-builder

Added the suggested changes
  images/image-builder/run.sh
Due: post-image-builder

add testgrid dashboard for mirror-images postsubmit
  config/jobs/mirror-images/periodics-mirror-images.yaml
  config/jobs/mirror-images/postsubmits-mirror-images.yaml
  config/testgrid/config.yaml
  scripts/mirror-images/source-images.yaml
  scripts/mirror-images/sync-upstream-images-with-ecr.sh
Due: pull-tanzu-test-infra-prow-checkconfig

update external secrets
  config/prow/boskos/patch-aws-account/job.yaml
  config/prow/config.yaml
  config/prow/external-secrets.yaml
  config/prow/kubernetes-external-secrets_sa.yaml
Due: pull-tanzu-test-infra-prow-checkconfig

fixes from first deploy
  infra/aws/bash/build_prow_infra_on_aws.sh
Due: none

add deploy config for new Prow POC cluster
  config/jobs/build-images/build.yaml
  config/jobs/tanzu-test-infra/postsubmit-trusted.yaml
  config/jobs/tanzu-test-infra/postsubmits.yaml
  config/jobs/tce/periodics.yaml
  config/prow/autobump-config/prow-component-autobump-config.yaml
  config/prow/cluster-issuer.yaml
  config/prow/cluster/crier_deployment.yaml
  config/prow/cluster/crier_rbac.yaml
  config/prow/cluster/deck_deployment.yaml
  config/prow/cluster/deck_rbac.yaml
  config/prow/cluster/external-secrets.yaml
  config/prow/cluster/ghproxy_deployment.yaml
  config/prow/cluster/hook_deployment.yaml
  config/prow/cluster/hook_rbac.yaml
  config/prow/cluster/horologium_deployment.yaml
  config/prow/cluster/horologium_rbac.yaml
  config/prow/cluster/ingress.yaml
  config/prow/cluster/kubernetes-external-secrets_crd.yaml
  config/prow/cluster/kubernetes-external-secrets_deployment.yaml
  config/prow/cluster/kubernetes-external-secrets_rbac.yaml
  config/prow/cluster/kubernetes-external-secrets_sa.yaml
  config/prow/cluster/kubernetes-external-secrets_service.yaml
  config/prow/cluster/prow-controller-manager_deployment.yaml
  config/prow/cluster/prow-controller-manager_rbac.yaml
  config/prow/cluster/sinker_deployment.yaml
  config/prow/cluster/sinker_rbac.yaml
  config/prow/cluster/statusreconciler_deployment.yaml
  config/prow/cluster/statusreconciler_rbac.yaml
  config/prow/cluster/test-pods_namespace.yaml
  config/prow/cluster/tide_deployment.yaml
  config/prow/cluster/tide_rbac.yaml
  config/prow/components.yaml
  config/prow/config.yaml
  config/prow/contour-values.yaml
  config/prow/job-seed.yaml
  config/prow/plugins.yaml
  infra/aws/bash/build_prow_infra_on_aws.sh
Due: pull-tanzu-test-infra-prow-checkconfig

add crier_service.yaml and some cleaning
  config/prow/cluster/crier_service.yaml
  infra/aws/bash/build_prow_infra_on_aws.sh
  infra/aws/configs/prow-variable/autobump-config/prow-component-autobump-config.yaml
Due: none

updating docs for vmware-tanzu prow
  docs/prow/prow-installation.md
Due: none

update docs for TEP - more docs
  docs/prow/authorization.md
  docs/prow/obligatory-security-measures.md
  docs/prow/presets.md
  docs/prow/production-cluster-configuration.md
  docs/prow/prow-architecture.md
  docs/prow/prow-secrets-management.md
  docs/prow/prow-secrets.md
Due: none

updated docs and ingress
  config/prow/cluster/ingress.yaml
  docs/prow/README.md
  docs/prow/assets/prow-architecture.svg
  docs/prow/authorization.md
  docs/prow/obligatory-security-measures.md
  docs/prow/production-cluster-configuration.md
  docs/prow/prow-architecture.md
  docs/prow/prow-installation.md
  docs/prow/prow-jobs.md
  docs/prow/prow-k8s-testgrid.md
  docs/prow/prow-naming-convention.md
  docs/prow/tbd-prow-jobs-quick-start.md
  docs/prow/tbd_manage-component-jobs-with-templates.md
  docs/prow/tbd_prow-installation-on-forks.md
  docs/prow/tbd_prow-monitoring.md
  docs/prow/tbd_quality-metrics.md
  docs/prow/tbd_test-clusters.md
  docs/prow/workload-clusters.md
Due: none

doc updates, remove autobump job, fix secret
  config/jobs/tanzu-test-infra/postsubmit-trusted.yaml
  docs/prow/prow-architecture.md
  docs/prow/prow-secrets-management.md
  docs/prow/prow-secrets.md
  infra/gcp/configs/secrets/external-secrets-prow.yaml
Due: pull-tanzu-test-infra-prow-checkconfig

doc changes and added IAP
  .DS_Store
  docs/.DS_Store
  docs/prow/assets/prow-design.jpg
  docs/prow/assets/prow-sequence.jpg
  docs/prow/authorization.md
  docs/prow/obligatory-security-measures.md
  docs/prow/prow-architecture.md
  docs/prow/prow-secrets-management.md
  docs/prow/prow-secrets.md
  infra/gcp/bash/build-prow-on-gcp.sh
  infra/gcp/bash/configure-iap.md
  infra/gcp/ingress-iap/backend-config-iap.yaml
  infra/gcp/ingress-iap/deck-svc.yaml
Due: none
